body{
/*  background-image: url("images/2c1.JPG"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/************ container ***************************/

.container{
/*  filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    background-color: white; 
*/  
}

.center_stage{
    margin-top: 6em;    
    margin-left: 10%;
    width: 50%;
}

/************** name *****************************/

.name{
    font: normal normal normal 12pt "Verdana";  /* FONT */
    color: orange;  
    border-bottom: 1px solid #808080;
}

.name span{
    padding: 0 0.5em 0 0.5em;
    background-color: #808080;
}


/************ welcome msg *****************************/
.welcome_msg{
    padding-top: 1em;
    padding-bottom: 1em;
}

.hello{
    font: italic bold normal 26pt "Calibri";    /* FONT */
    background-color: white;
    color: orange;  /* #ffa500 */
}

.whoami{
    margin-top: 1em;
    font: normal normal normal 13pt "Verdana";  /* FONT */
    line-height:1.5;    
}

.wassup{
    margin-top: 1em;
    font: normal normal normal 13pt "Verdana";  /* FONT */
    line-height:1.5;    
}

/*************** footer *********************************/
.footer{
    font: normal normal normal 14pt "Verdana";  /* FONT */
    color: #A00; /* red */  
    border-top: 1px solid #808080;
}
.footer span{
    background-color: #808080;
}

/*************** links *********************************/
a           {   padding: 2px 4px;}
a:link      {   color: #ffa500; text-decoration: none; }
a:active    {   color: #ffa500; text-decoration: none;}
a:visited   {   color: #ffa500; text-decoration: none;}
a:hover     {   color: #FFa500; text-decoration: none;  background-color: #808080; padding: 4px 4px;}   
/* orange: #ffa500, orangered: #ff4500 */