@media only screen and (max-width : 767px) {

  body{
    margin:0;
    font-family: verdana, sans-serif;
  }
  h1{ font-size: 150%; }
  h2{ font-size: 120%; }
  h3{ font-size: 110%; }
  h1, h2, h3 {
    font-weight: normal;
    font-family: verdana, sans-serif;
    margin: 0;
  }

  .float_clear{
    clear:both;
    overflow:none;
  }
  .onleft{
    float:left;
  }
  .wide-8{
    width:1em;
  }
  .wide-4{
    width:4em;
  }
  .italic{
    font-style: italic;
  }
  .color-1{
    color: #00ff00; # bright-light green
  }
  .date, .location{
    color:#aaaaaa;
  }
  .notice{
    background-color: yellow;
  }
  /************************** site *****************************/
  /* all non-absolute positioned elements are inside the site */
  #site{
  }

  /************************ header *****************************/
  #header{
    background-color:#808080;
    color:orange;
    font: 1em "Verdana";
    width: 100%;  
    line-height: 2em;
    overflow: hidden;
    padding-left: 1em;
  }

  #header a{
    color: orange;
  }
  #header #name{
  }
  #header .column{
    float:left; 
    margin-right: 1em; 
  }

  /************************ content *****************************/
  #content {
    margin: 0 1em;
    line-height: 1.75;
    float: left;
  }
  .post{
    background-color: #fffffe;
    font-size: 110%;
    font-family: Georgia, serif;
    -webkit-font-smoothing: antialiased;
  }
  .post-header{ 
  }
  .post .date, .location{
    font-size: 70%;
  }
  .post-body{
  }
  blockquote{
    font-size: 90%;
    margin: 0;
    margin-left: 0.5em;
  }

  /************************ sidebar *********************************/
  #sidebar-right{
    float: right;
    width: 20%;
    margin: 6em 5% auto auto;
  }
  #sidebar-right #about{
    padding: 1em;
    background-color: #efefef;
    line-height: 1.5;
    font-size: 80%;
  }
  #about #about-header{
    font-style:italic;
    font-size:100%;
    font-style:Georgia;
  }

  /************************ footer *********************************/
  #footer{
    clear: both;
    margin: 2em auto auto 15%;
    font-size:1em;
    color: #A00; 
  }
  #footer span{
    background-color: #808080;
    padding:0.25em 0.5em;
  }

  /*********************** blog-index *********************************/
  #blog_index h1{
    font-weight: normal;
    font-family: Georgia;
    margin: 0;  
  }
  #blog_index .posts{ 
    font-size: 90%;
  }
  #blog_index .post_item{
    line-height:2em;
    clear:both;
    overflow:auto;
  }
  #blog_index .date{
    float:left;
    width:8em;
  }
  ##blog_index .post_title{
    float:left;
  }

  /*********************** links *********************************/
  a           {  }
  a:link      {   color: #A00; text-decoration: none;}
  a:active    {   color: #A00; text-decoration: none;}
  a:visited   {   color: #A00; text-decoration: none;}
  a:hover     {   color: #ff4500; text-decoration: none;}
  a.forkme_ribbon { padding: 0;}
  a.forkme_ribbon:hover { color: #FFa500; text-decoration: none; background-color: #ffffff; padding: 0; }   
  /* orange: #ffa500, orangered: #ff4500 */


  /*********************** forkme-ribbon *********************************/
  #forkme_ribbon{
    position: absolute; 
    top: 0; 
    right: 0; 
  }
  #forkme_ribbon img{
    border:0;
  }
}