<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} : Abhishek Yadav's t-log</title>
   <meta name="author" content="Abhishek Yadav" />
   
   <!-- Indigenous CSS -->
   <link rel="stylesheet" href="/css/blog.css" type="text/css" />

</head>
<body>

<div class="site">
  
  <div id="header">
	<div class="name">
	  <a href="/">Abhishek Yadav's <span class="italic">t-log</span></a>
	</div>
  </div>

  <div id="content">
  {{ content }}
  </div>	

  <div id="sidebar-right">
	<div id="about">
	  <h2>About</h2>
	  <div id="about-desc"> This blog is a log of my technology related (hence <span class="italic">t-log</span>) experiences, thoughts and ideas. 
		I'm a ruby programmer by profession and a science lover at heart. A bit more about me is <a href="/about.html">here</a>. </div>
	</div>
  </div>

  <div id="footer">
  </div>

</div>

</body>
</html>
